body {
  background-color: #0E0E0E;
  align-content: center;
}

#output-stats {
  background-color: #1E1E1E;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.stat-container {
  align-content: center;
  text-align: center;
  border: 1px black;
  border-radius: 10px;
  margin: 30px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1 0 21%;
  min-width: 120px;
  color: #EEEEEE;
}

.modifier {
  font-size: 28px;
}

.ability {
  font-size: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 30px;
  margin: auto;
}

#dice-form,#button-wrapper {
  text-align: center;
}

button,.button {
  font-size: 16px;
  border: 1px solid #6A0108;
  width: 200px;
  height: 75px;
  color: #EEEEEE;
  background-color: #6A0108;
  border-radius: 50px 0px 50px 0px;
  margin: auto;
}

header {
  text-align: center;
}

h1,h2,h3,p,span,hr,nav {
  color: #EEEEEE;
}